# =========================
# Proyecto Scrapper Computrabajo
# =========================

# Alternativa genérica para cualquier sitio con /data/ofertas_detalle
**/data/ofertas_detalle/
**/data/ofertas_detalle/**


# Archivos generados automáticamente
*.csv
*.json

# Caché de Python
__pycache__/
*.pyc

# Entornos virtuales
venv/
.env
.env.*

# Archivos temporales del sistema operativo
.DS_Store
Thumbs.db
